body {
  background-color: #f5f5f5;
}

a {
 color: #030508;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background-color: #69ce5a;
  color: white;
}

.navbar-header {
  height: 32px;
}
.navbar-brand {
  font-weight: bold;
}
