<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Login">
    <meta name="author" content="HelRaph">
    <link rel="icon" href="../../favicon.ico">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="..\style\main.css" rel="stylesheet">
    <link href="..\style\signin.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <form class="form-signin col-md-4 col-sm-offset-4">
        <img src="..\img\icone-login.png" class="img-responsive center-block">
        <label for="inputUser" class="sr-only">Usuário</label>
        <input type="user" id="inputUser" class="form-control" placeholder="Usuario" required autofocus>
        <br>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
        <br>
        <button class="btn btn-lg btn-success btn-block" type="submit">Entrar</button>
      </form>

    </div> <!-- /container -->
    <div class="footer" align="center">
     <br> <p>Mister Smart &reg;</p>
    </div>
  </body>
</html>