<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Principal">
    <meta name="author" content="HelRaph">
    <link rel="icon" href="../../favicon.ico">

    <title>$page</title>

    <!-- Bootstrap core CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="..\style\main.css" rel="stylesheet">
  </head>
  <body>
      <ul class="nav nav-tabs">
            <div class="navbar-header">
                <a class="navbar-brand">MisterSmart</a>
            </div>
            <li class="active"><a data-toggle="tab" href="#clientes">Clientes</a></li>
            <li><a data-toggle="tab" href="#produtos">Produtos</a></li>
            <li><a data-toggle="tab" href="#promocoes">Promoções</a></li>
                        <li><a data-toggle="tab" href="#servicos">Serviços</a></li>
      </ul>

      <div class="tab-content col-sm-offset-4">
        <div id="clientes" class="tab-pane fade in active">
          <h3>Clientes</h3>
          <p>Aqui vai a lista de clientes que será resgatada do firebase</p>
        </div>
        <div id="produtos" class="tab-pane fade">
          <h3>Produtos</h3>
          <p>Aqui vai a lista de produtos</p>
        </div>
        <div id="promocoes" class="tab-pane fade">
          <h3>Promoções</h3>
          <p>Aqui a lista de promoções</p>
        </div>
        <div id="servicos" class="tab-pane fade">
          <h3>Serviços</h3>
          <p>Aqui a lista de serviços</p>
        </div>
      </div>
    
    <!-- rodape -->
    <div class="footer" align="center">
     <br> <p>Mister Smart &reg;</p>
    </div>
  </body>
</html>